:root {
  --color-primary: #28345f;
  --color-secondary: #00cccc;
  --color-background-container: #eeeeee;

  --font-family: "Readex Pro";
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: var(--font-family), sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
}

.container {
  max-width: 640px;
  margin: 15px auto;
  background-color: var(--color-background-container);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.container > h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--color-primary);
  margin-bottom: 40px;
}

.cpf-gerado {
  color: var(--color-secondary);
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-weight: 700;
  text-shadow: 1px 1px 1px black;
}

.btn {
  padding: 7px 12px;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--color-background-container);
}

.btn:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.356);
}

.btn:active {
  background-color: var(--color-primary);
  color: var(--color-background-container);
}

form input,
form label,
form button {
  display: block;
  width: 100%;
}

form input {
  margin-bottom: 10px;
  font-size: 16px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

form input:focus {
  outline: 2px solid var(--color-primary);
}

form button {
  border: none;
  background-color: var(--color-primary);
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  outline: 2px solid white;
}
