:root {
  --color-container-dark: #2a2a2af9;
  --color-container-light: #f9f9f9;
  --color-underline-link: #000000d2;
  --color-active-link: rgba(0, 0, 0, 0.1);
  --color-dark-text: rgb(0, 0, 0);
  --color-light-text: #fafafa;
  --color-highlight: #4488bb;
  --color-background: #ededed;
  --color-box-shadow: rgb(0, 0, 0, 0.3);

  --font-family-primary: "Readex Pro";
  --font-family-secondary: "McLaren", cursive;

  --trasition-time: 0.3s;

  --height-footer: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-primary);
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
  color: var(--color-dark-text);
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  background: var(--color-background);
  background-image: url(/assets/img/blurry.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 105rem;
  margin: 0 auto;
}

.header {
  padding: 2rem;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 15px -3px rgb(0, 0, 0, 0.3);
  overflow: hidden;

  background-color: var(--color-container-light);
}

.header__logo {
  display: none;
}

.header__list {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  gap: 1rem;
}

.header__list li {
  display: inline-block;
}

.header__item a {
  display: block;
  font-weight: 400;
  color: black;
  letter-spacing: 1px;
  padding: 1.5rem 0;
  text-decoration: none;
  position: relative;
}

.header__item a::before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 30%;
  background-color: var(--color-underline-link);

  transition: all var(--trasition-time) linear;
}

.header__item a:hover::before,
.header__item a:focus::before {
  width: 100%;
}

.header__item a:focus {
  outline: none;
}

.section--padding {
  padding: 0 2rem;
}

.section--center {
  flex-grow: 1;
  display: grid;
  align-content: center;
}

.about__container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  transform: translateY(-30%);
}

.about__firstName,
.about__lastName {
  /* font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif; */
  font-weight: 700;
  letter-spacing: -5px;
  margin: 0px;
  padding: 0px;
  line-height: 0.8;
  display: block;
}

.about__firstName {
  font-size: 6rem;
}

.about__lastName::first-letter {
  font-size: 12rem;
  margin-left: -2%;
}

.about__lastName {
  font-size: 10rem;
  margin-bottom: 2rem;
}

.about__description {
  letter-spacing: 8px;
  margin-bottom: 1rem;
}

.about__social {
  display: flex;
  gap: 10px;
}

.about__social a {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  box-shadow: 2px 4px 8px var(--color-box-shadow);

  transition: transform var(--trasition-time) ease-out;
}

.about__social a:hover {
  transform: translateY(-5px);
}

.about__social a:hover:active {
  background-color: var(--color-active-link);
}

.about__img {
  display: none;
}

.contact__img {
  width: 200px;
  margin-bottom: 2rem;
}

.contact__img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-30%);
}

.contact__description {
  letter-spacing: 8px;
  margin-bottom: 1rem;
}

.contact__wrapperEmail {
  padding: 1rem 2rem;
  border-radius: 50px;
  box-shadow: 0px 4px 15px -3px var(--color-highlight);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.contact__wrapperEmail:hover {
  box-shadow: 0px 4px 15px 3px var(--color-highlight),
    inset -2px -2px 2px 0px var(--color-highlight);
}

.contact__email {
  font-size: 2rem;
  letter-spacing: 1px;
  font-style: unset;
}

.skill {
  padding: 0 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.skill__card {
  flex: 1 0 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
  box-shadow: 2px 4px 8px var(--color-box-shadow);
  border-radius: 20px;

  transition: transform var(--trasition-time) linear;
}

.skill__card:hover {
  box-shadow: 4px 4px 8px var(--color-highlight);
  transform: scale(1.05);
}

.skill__img {
  width: 100px;
}

.skill__img img {
  width: 100%;
  height: 100%;
}

.skill_title {
  text-align: center;
  padding-top: 2rem;
}

footer {
  text-align: center;
  background-color: var(--color-container-dark);
  color: var(--color-light-text);
  height: var(--height-footer);
  display: flex;
  align-items: center;
}

footer a {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--color-highlight);
  animation: footer__link 1s linear infinite alternate;
}

footer a:hover {
  text-decoration: underline;
}

@keyframes footer__link {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}
