:root {
  --color-background: rgb(40, 52, 95);
  --color-backgrund-container: #ffffffea;

  --font-family: "Readex Pro";
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
    font-family: var(--font-family), sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

h1{
    margin: 20px 0;

}

.container {
    max-width: 640px;
    margin: 15px auto;
    background-color: var(--color-backgrund-container);
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
}

form input {
    margin-bottom: 10px;
    font-size: 16px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

form input:focus {
    outline: 2px solid var(--color-background);
}

form button {
    border: none;
    background-color: var(--color-background);
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius:5px;
}

form button:hover {
    outline: 2px solid white;
}

.input-tarefa {
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}

.btn-tarefa {
    padding: 10px;
    border-radius: 5px;
}

.tarefas {
    width: fit-content;
}

.apagar {
    padding: 10px;
}

.tarefa__li {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, rgba(0, 47, 255, 0.5), rgba(189, 189, 189, 0.7));
    border-radius: 5px;
    color: white;
}

.tarefa__li :nth-child(1) {
    flex-grow: 1;
    padding: 5px;
    min-width: 200px;
}