:root {
  --color-background: rgb(40, 52, 95);
  --color-backgrund-container: #ffffffea;

  --font-family: "Readex Pro";
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
    font-family: var(--font-family), sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

p {
    margin: 10px 0;
}

.container {
    max-width: 640px;
    margin: 15px auto;
    background-color: var(--color-backgrund-container);
    padding: 20px;
    border-radius: 10px;
}

.container > h1 {
 text-align: center;
}

.container > div {
    display: flex;
    justify-content: space-around;
}

.result-imc {
    text-align: center;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(100, 200, 100);
}

.background-red {
    background-color: rgb(200, 100, 100);
}

form input, form label, form button {
    display: block;
    width: 100%;
}

form input {
    margin-bottom: 10px;
    font-size: 16px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

form input:focus {
    outline: 2px solid var(--color-background);
}

form button {
    border: none;
    background-color: var(--color-background);
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius:5px;
}

form button:hover {
    outline: 2px solid white;
}